

.Produits_texte {
    text-align: left;
    font-size: 30px;
    font-weight: 500px;
    margin-left: 80px;
    margin-bottom: 200px;
    font-style: italic;
    color: #424144
}

.section_produits {
    padding: 10px 5%;
}

.produits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}

.produits .carte {
    width: 250px;
    background: #fcf6f6;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
}

.produits .carte img {
    height: 280px;
    width: 100%;
    border-radius: 10px;
}

.produits .carte .desc {
    padding: 5px 20px;
    opacity: 0.8;
}
.produits .carte .seemore {
    margin-left: 50px;
    border-radius: 10px;
    width: 90px;
    height: 50px;
    background-color: rgb(113, 64, 72);
    color : white;
}

.produits .carte .titre {
    font-weight: 900px;
    font-size: 20px;
    color: 20px;
    padding: 0 20px;
}

.produits .carte .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.produits .carte .prix {
    color: #f63e4e;
    font-size: 20px;
    font-weight: bold;
}

.produits .carte .achat {
    font-size: 13px;
    font-weight: 900;
    color: #f63e4e;
    padding: 10px 18px;
    border-radius: 5px;

}

.produits .carte .box .achat:hover {
    cursor: pointer;
    background: #4a050d;
    color: white;
}